html{
    background-image:url("https://lh6.googleusercontent.com/wQhFlHnoxPFEMwwG4URJ2wopTJVFwZcNdYkFv-yzWWk3Wi7NwRQMB-QlyJbffQIHqvdIDeeJcd7BHWlskqSYWngRIsc=w1325-h547");
}
}
body{
    background-image:url("https://lh6.googleusercontent.com/wQhFlHnoxPFEMwwG4URJ2wopTJVFwZcNdYkFv-yzWWk3Wi7NwRQMB-QlyJbffQIHqvdIDeeJcd7BHWlskqSYWngRIsc=w1325-h547");
}
div{
    
}
.menu{
    width:30%;
    height:100%;
}
ul{
}
li{
    color: white;
    background-color:#0066ff;
}
a{
    color:white;
}
